<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pair Trade Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Stock Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/pairtrade">Pair Trade <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Pair Trade Analysis</h1>
        <form action="/analyze" method="post">
            <div class="form-group">
                <label for="symbol1">Select Symbol 1:</label>
                <select class="form-control" id="symbol1" name="symbol1">
                    <!-- Options will be added dynamically -->
                </select>
            </div>
            <div class="form-group">
                <label for="symbol2">Select Symbol 2:</label>
                <select class="form-control" id="symbol2" name="symbol2">
                    <!-- Options will be added dynamically -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/get_nifty_symbols',
                type: 'GET',
                success: function (data) {
                    var symbols = data.symbols;
                    symbols.forEach(function (symbol) {
                        $('#symbol1').append($('<option>', {
                            value: symbol,
                            text: symbol
                        }));
                        $('#symbol2').append($('<option>', {
                            value: symbol,
                            text: symbol
                        }));
                    });
                }
            });
        });
    </script>
</body>

</html>
